body{
    background-color: black;
    color: whitesmoke;
    font-family: "Lucida Console", Monaco, monospace;
}
#h2{
    text-align:center;
}
#start:hover {
    background-color: antiquewhite;
}
#start{
    color: darkgray;
    padding: 10px 20px;
    font-size: 17px;
    background-color: aquamarine ;
    cursor:pointer;
}
#timer{
    color: darkgray;
    padding: 15px 25px;
    font-size: 17px;
    margin-left: 300px;
}
input{
    font-size: 30px;
}
#submit:hover {
    background-color: olive;
}
#submit{
    color: darkgray;
    padding: 10px 20px;
    font-size: 17px;
    background-color:aliceblue ;
    cursor:pointer;
    display: inline-block;
}
input{
    display: inline-block;
}
/* add media queries */
